CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.bag
*.zip
HW1/
HW2/

build/
devel/
.vscode/c_cpp_properties.json
